.bg-main {
  background-color: #0c3c60;
  color: white;
}
body {
  background-color: #f4f1f1cc;
}

.bullet {
  font: 10px sans-serif;
}
.bullet .marker {
  stroke: rgb(221, 16, 16);
  stroke-width: 5px;
}
.bullet .tick line {
  stroke: rgba(102, 102, 102, 0.486);
  stroke-width: 0.5px;
}
.bullet .range.s0 {
  fill: #eee;
}
.bullet .range.s1 {
  fill: #ddd;
}
.bullet .range.s2 {
  fill: #d3626a;
}
.bullet .measure.s0 {
  fill: #d3626a;
}
.bullet .measure.s1 {
  fill: #72c275;
}
.bullet .title {
  font-size: 14px;
  font-weight: bold;
}
.bullet .subtitle {
  fill: #999;
}
.reportbg {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #dad9d9 1px, transparent 1px),
    linear-gradient(to bottom, #dad9d9 1px, transparent 1px);
}
