.bg-main {
  background-color: #0c3c60;
  color: white;
}
body {
  background-color: #f4f1f1cc;
}

.bullet {
  font: 10px sans-serif;
}
.bullet .marker {
  stroke: rgb(93, 70, 175);
  stroke-width: 5px;
}
.bullet .tick line {
  stroke: #666;
  stroke-width: 0.5px;
}
.bullet .range.s0 {
  fill: #eee;
}
.bullet .range.s1 {
  fill: #ddd;
}
.bullet .range.s2 {
  fill: #ccc;
}
.bullet .measure.s0 {
  fill: rgb(209, 24, 24);
}
.bullet .measure.s1 {
  fill: rgb(25, 148, 21);
}
.bullet .title {
  font-size: 14px;
  font-weight: bold;
}
.bullet .subtitle {
  fill: #999;
}
