.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-main {
  background-color: #0c3c60;
  color: white;
}
body {
  background-color: #f4f1f1cc;
}

.bullet {
  font: 10px sans-serif;
}
.bullet .marker {
  stroke: rgb(221, 16, 16);
  stroke-width: 3px;
}
.bullet .tick line {
  stroke: rgba(102, 102, 102, 0.486);
  stroke-width: 0.5px;
}
.bullet .range.s0 {
  fill: #cc6666;
}
.bullet .range.s1 {
  fill: #cc9999;
}
.bullet .range.s2 {
  fill: #ffcc99;
}
.bullet .range.s3 {
  fill: #99cc99;
}
.bullet .range.s4 {
  fill: #66cc66;
}
.bullet .measure.s0 {
  fill: #663333;
}
.bullet .measure.s1 {
  fill: #72c275;
}
.bullet .measure.s2 {
  fill: pink;
}
.bullet .title {
  font-size: 14px;
  font-weight: bold;
}
.bullet .subtitle {
  fill: #999;
}
.reportbg {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #dad9d9 1px, transparent 1px),
    linear-gradient(to bottom, #dad9d9 1px, transparent 1px);
}
.reportTbl > tbody > tr > td {
  border: 1px solid #dee2e6 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-color: #343a40 !important;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.form-small-banner {
  background-color: #343a40;
  height: 8vh;
}
.text-box-client-form {
  border-radius: 0px;
  background-color: #f4f1f1cc;

  border: 0px;
  border-bottom: 1px solid black;
}
